@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../../fonts/MuseoSans/MuseoSansCyrl-500.ttf") format("ttf"), url("../../fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("ttf"), url("../../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: "MuseoSansCyrl";
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.header__address {
  margin-bottom: 9px;
  font-size: calc(20px + -7 * ((100vw - 320px) / 1600));
  text-align: right;
}

.header__phone {
  font-size: calc(28px + -8 * ((100vw - 320px) / 1600));
  font-weight: 700;
  color: inherit;
}

.header__button {
  padding: 18px 30px;
  font-weight: 700;
  font-size: calc(20px + -7 * ((100vw - 320px) / 1600));
  color: inherit;
  border-radius: 10px;
  background-color: #ffd200;
}
