@import common
@import blocks/header
@import blocks/hero
@import blocks/callback




body
    font-family: "MuseoSansCyrl"
    color: $text-main

.container
    max-width: 1170px
    margin: 0 auto


