.portfolio
    background-color: $background-section
    &__body
        padding: 100px 0 190px
    &__title
        margin-bottom: 100px
        h2
            font-size: 30px
            font-weight: 700
            line-height: 1.3em
            text-align: center
    &__slider
        margin: 0 auto
    &__slider-arrows
        margin: 0 auto
        margin-top: 70px
        max-width: 120px

.portfolio-slider
    &__item
        display: flex !important
        justify-content: center
        margin-right: 10px
        img 
            max-width: 100%
            max-height: 100%

//slider's arrows
.slider-arrows
    display: flex 
    justify-content: space-between
    &__arrow
        width: 45px
        height: 25px
        cursor: pointer
        transition: 0.5s
        &:not(.slick-disabled):hover
            transform: scale(1.1)
        &.slick-arrow
            background-size: 100%
            background-position: 0px -10px
        &.slick-disabled
            background-size: 100% !important
            background-position: 0px -10px !important 
            cursor: default     
    &__prev
        background: url("../img/icons.svg#left-arrow") no-repeat
        &.slick-disabled
            background: url("../img/icons.svg#left-arrow_disabled")
    &__next
        background: url("../img/icons.svg#right-arrow") no-repeat
        &.slick-disabled
            background: url("../img/icons.svg#right-arrow_disabled")



@media ( max-width: 1199px )
    
    .portfolio
        &__body
            padding: 90px 0 170px
        &__title
            margin-bottom: 80px
            h2
                font-size: 30px
        &__slider

    .portfolio-slider
        &__item
            margin-right: 20px
            img 

@media ( max-width: 991px )
    .portfolio
        &__body
            padding: 70px 0 120px
        &__title
            margin-bottom: 60px
            h2
                font-size: 24px
        &__slider
            max-width: 80%

    .portfolio-slider
        &__item
            margin-right: 20px
            img 

    .slider-arrows
        margin-top: 50px

@media ( max-width: 767px )
    
    .portfolio
        &__body
            padding: 50px 0 90px
        &__title
            margin-bottom: 50px
            h2
                font-size: 22px
        &__slider
            max-width: 60%

    .portfolio-slider
        &__item
            margin: 0 10px
            img 

@media ( max-width: 567px )
    .portfolio
        &__body
        &__title
        &__slider
            max-width: 70%

@media ( max-width: 480px )
    
    .portfolio
        &__body
            padding: 30px 0 90px
        &__title
            margin-bottom: 30px
            h2
                font-size: 20px
        &__slider
            max-width: 90%

    .portfolio-slider
        &__item
            margin: 0 10px
            img 

@media ( max-width: 360px )
    .portfolio
        &__body
            padding: 30px 0 90px
        &__title
            margin-bottom: 30px
            h2
                font-size: 18px
        &__slider
            max-width: 100%
    .portfolio-slider
        &__item
            img 