.portfolio
    border: 1px solid #000
    &__body
        padding: 100px 0
    &__title
        margin-bottom: 100px
        border: 1px solid #000
        h2
            font-size: 30px
            font-weight: 700
            line-height: 1.3em
            text-align: center
    &__slider
        border: 1px solid #000

.portfolio-slider
    &__item
        background-color: red
        // margin: 0 10px